@using EntityLayer.Concrete
@model List<Companies>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<body>

    
        <form autocomplete="off"class="inline w-50 p-3" id="searchForm">
            <input class="form-control w-25" id="searchId" type="text" placeholder="Search" name="searchString">                         
                <input id="searchButton" class="btn btn-outline-dark btn-hover search" type="submit" asp-controller="home" asp-action="details"  value="Search"/>
        </form>



   <h3 class="ch_plan_text text-light">
        Üyelik planınızı seçiniz
    </h3>

    <div class="plans text-light">
        <div class="plan_cont">
            <div class="header">
                3 Gün
                <div class="lines">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="body">
                <div class="price">

                    </small>₺</small>


                    </h2>1</h2>
                </div>

                <p>
                    Deneme sürümü yeni kullanıcılar için bir defa kullanılabilir.
                </p>
            </div>
        </div>
        <div class="plan_cont">
            <div class="header">
                12Ay
                <div class="title">
                    En çok terhih edilen
                </div>
            </div>
            <div class="body">
                <div class="price">
                    </small>₺</small>
                    <h2>₺1000</h2>
                    <h3 class="disc">₺1500</h3>
                </div>
                <div class="yıllık_plan">
                </div>Bir yıllık
                <p>
                    12 Aylık üyeliği indirimden faydalanıp satın alabilirsiniz ve bu sayede 33% tassarruf etmiş olursunuz.
                </p>
                <h2>
                    Tasarruf et 33%
                </h2>
            </div>
        </div>
        <div class="plan_cont">
            <div class="header">
                6Month
            </div>
            <div class="body">
                <div class="price">
                    <small>₺</small>
                    <h2>125</h2>
                </div>
                <div class="per_mon">
                    Aylık
                </div>
                <p>
                    Her ay otomatik olarak yenilenir
                </p>
            </div>
        </div>
    </div>

    <div class="Ödeme">
        <div class="line">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSG5Y3k5i53efxeDAMSdx0k9Wc8Ma6fgBKHsCmjlS-WMMqgIG9GLa2GmHdcQ0vaZX7cD8&usqp=CAU" alt="">
        </div>
        <button class="btn_payment">
            Ödeme adımına ilerleyiniz
        </button>
    </div>

    
</body>

<style>
    
   


</style>


@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>



    </script>
}
</html>