@using EntityLayer.Concrete
@model List<Companies>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<!-- Home Index Body-->
<body>

    <!-- Search Bar -->
        <form autocomplete="off"class="inline w-50 p-3" id="searchForm">
        <input class="form-control w-25" id="searchId" type="text" placeholder="Search" name="symbol">
        <input id="searchButton" class="btn btn-outline-dark btn-hover search" type="submit" asp-controller="company" asp-action="details"  value="Search"/>
        </form>

    <!-- Lira Investment -->
    <section class="text-light">
        <div class="container free-container" style="padding: 10px">
            <h1 style="text-align: center; font-size: 30px" class="free">
                <span style="color: orange">Try 3 days free</span> Lira Of Investment
            </h1>
            <p style="
            text-align: center;
            font-size: 14px;
            color: gray;
            margin-top: 10px;
          ">
                The right investment
                take the decisions.
                Strengthen your presence in the stock market by saving time on stock analysis with Lira of Investment.
            </p>
        </div>
    </section>



    <section class="text-light" style="border-bottom: 1px solid rgb(182, 181, 181); padding-bottom: 43px">
        <div class="container">
            <h1 class="pricing-title">fundamental analysis platform</h1>

            <div class="fundamantel-container">
                <div class="fun-item">
                    <i class="fa-solid fa-chart-line icon2" style="font-size:41px;text-align: center; margin-bottom: 25px"> </i>
                    <div>
                        <h3>Broad summary report</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Voluptates, quae.
                        </p>
                    </div>
                </div>

                <div class="fun-item">
                    <i class="fa-solid fa-tv icon2"style="font-size:35px;text-align: center; margin-bottom: 25px"> </i>
                    <div>
                        <h3>Company benchmarking</h3>
                        <p>
                            Easily examine how other businesses operate to increase a business's competitiveness and make its performance more successful.
                        </p>
                    </div>
                </div>

                <div class="fun-item">
                    <i class="fa-solid fa-satellite-dish icon2" style="font-size:41px;text-align: center; margin-bottom: 25px"> </i>
                    <div>
                        <h3>Radar</h3>
                        <p>
                            Choose the one you want among dozens of criteria, find companies matching your criteria in seconds via Fintables Radar.
                        </p>
                    </div>
                </div>

                <div class="fun-item">
                    <i class="fa-solid fa-scale-unbalanced-flip icon2" style="font-size:35px;text-align: center; margin-bottom: 25px"> </i>
                    <div>
                        <h3>Ratio Analysis</h3>
                        <p>
                            Access liquidity, leverage, operating efficiency, profitability ratios and other items.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="text-light" style="
        border-bottom: 1px solid rgb(182, 181, 181);
        padding-bottom: 43px;
        margin: 46px 0;
      ">
        <div class="container">
            <table>
                <tr>
                    <td>
                        <i class="fa-solid fa-check"
                           style="
                  background-color: rgb(237, 150, 29);
                  padding: 5px;
                  border-radius: 5px;
                  color: white;
                "></i>
                        Report
                    </td>
                    <td>
                        <i class="fa-solid fa-check"
                           style="
                  background-color: rgb(237, 150, 29);
                  padding: 5px;
                  border-radius: 5px;
                  color: white;
                "></i>
                        Latest Balance Sheets
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa-solid fa-check"
                           style="
                  background-color: rgb(237, 150, 29);
                  padding: 5px;
                  border-radius: 5px;
                  color: white;
                "></i>
                        Summary report
                    </td>
                    <td>
                        <i class="fa-solid fa-check"
                           style="
                  background-color: rgb(237, 150, 29);
                  padding: 5px;
                  border-radius: 5px;
                  color: white;
                "></i>
                        Income statement
                    </td>
                </tr>

                <tr>
                    <td>
                        <i class="fa-solid fa-check"
                           style="
                  background-color: rgb(237, 150, 29);
                  padding: 5px;
                  border-radius: 5px;
                  color: white;
                ">
                        </i>
                        Broad Summary Report
                    </td>
                    <td>
                        <i class="fa-solid fa-check"
                           style="
                  background-color: rgb(237, 150, 29);
                  padding: 5px;
                  border-radius: 5px;
                  color: white;
                "></i>
                        Price / Earnings Ratio
                    </td>
                </tr>

                <tr>
                    <td>
                        <i class="fa-solid fa-check"
                           style="
                  background-color: rgb(237, 150, 29);
                  padding: 5px;
                  border-radius: 5px;
                  color: white;
                "></i>
                        Company Benchmark
                    </td>
                    <td>
                        <i class="fa-solid fa-check"
                           style="
                  background-color: rgb(237, 150, 29);
                  padding: 5px;
                  border-radius: 5px;
                  color: white;
                "></i>
                        Graphics
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <section class="text-light" style="border-bottom: 1px solid rgb(182, 181, 181); padding-bottom: 10px">
        <div class="container">
            <h1 class="pricing-title"
                style="text-align: center; margin-bottom: 10px">
                FAQ
            </h1>

            <table>
                <tr>
                    <td>
                        <i class="fa-solid fa-person-circle-question icon2"
                           style="font-size: 80px"></i>
                        How does the Lira of Investment Pro subscription system work?
                    </td>
                    <td>
                        <i class="fa-solid fa-check"></i> With the monthly subscription method, your LoI PRO subscription is renewed every month.
                        Your subscription starts at the end of your 3-day trial and is charged on that date.
                        If you terminate your subscription before your 30-day usage period has expired,
                        our system will allow you to use your PRO subscription until your 30-day usage period expires.
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa-solid fa-person-circle-question icon2"
                           style="font-size: 80px"></i>
                        How do I renew my subscription?
                    </td>
                    <td>
                        <i class="fa-solid fa-check"></i> Your subscription automatically renews on whatever day of the month you subscribed,
                        on the same day of the next month, as long as you don't cancel and
                        you have sufficient funds on your credit card.
                    </td>
                </tr>

                <tr>
                    <td>
                        <i class="fa-solid fa-person-circle-question icon2"
                           style="font-size: 80px"></i>
                        What are my payment options?
                    </td>
                    <td>
                        <i class="fa-solid fa-check"></i> The monthly subscription system can only be made with credit cards.
                        You can use your credit and debit cards in the annual subscription option.
                    </td>
                </tr>

                <tr>
                    <td>
                        <i class="fa-solid fa-person-circle-question icon2"
                           style="font-size: 80px"></i>
                        Have an unanswered problem?
                    </td>
                    <td>
                        <i class="fa-solid fa-check"></i> As the LoI team, we are happy to answer all your questions.
                        Please send your question to info@liraofinvestment.com .
                        You will be contacted regarding the matter as soon as possible.
                    </td>
                </tr>
            </table>
        </div>
    </section>


    
</body>

<style>
    section {
        margin-top: 30px;
    }

    .free-trial {
        background-color: #eee3e3;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-size: 2rem;
        color: rgb(237, 150, 29);
    }

    .free {
    }

    .pricing-title {
        /* uppercase */
        text-transform: uppercase;
        font-size: 2rem;
        color: rgb(237, 150, 29);
    }

    .free-container {
        border-bottom: 1px solid rgb(182, 181, 181);
    }

    .box-pricing {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        gap: 10px;
    }

        .box-pricing > div {
            border: 1px solid rgb(182, 181, 181);
            padding: 10px 0;
            border-radius: 5px;
            text-align: center;
            min-width: 33%;
        }

    .fundamantel-container {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        gap: 10px;
    }

    .fun-item {
        display: flex;
        gap: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(182, 181, 181);
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

        table tr,
        td {
            border: 1px solid rgb(182, 181, 181);
            padding: 5px;
            width: 50%;
        }

    .icon2 {
        background-color: rgb(237, 150, 29);
        padding: 5px;
        border-radius: 5px;
        color: white;
    }
   


</style>


@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>



    </script>
}
</html>