@using EntityLayer.Concrete
@model Companies
@{
    ViewData["Title"] = "CompanyInfo";
    Layout = "~/Views/Shared/_AdminDetailsLayout.cshtml";
    string marketPrice = Model.CompanyRegularMarketPrice.ToString("#.##");
    string marketChange = Model.CompanyRegularMarketChange.ToString("#.##");
    string marketVolume = Model.CompanyRegularMarketVolume.ToString("#.##");
    string marketDayLow = Model.CompanyRegularMarketDayLow.ToString("#.##");
    string marketDayHigh = Model.CompanyRegularMarketDayHigh.ToString("#.##");
    string marketBalance = Model.CompanyBalance.ToString("#,##0");
    string marketIncome = Model.CompanyIncomeStatement.ToString("#,##0");
    string marketEbitda = Model.CompanyEBITDA.ToString("#,##0");
    string marketProfit = Model.CompanyProfit.ToString("#,##0");
    string marketPriceGainRate = Model.CompanyPriceGainRate.ToString("#.##");
}



<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="dashboard-div col-md-12 fw-bold fs-3 text-light">Summary</div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="card mb-3 bg-dark text-light">
                    <div class="card-header ">Information of <span class="text-warning">@Html.DisplayFor(ModelItem=>ModelItem.CompanyName)</span> </div>
                    <div class="card-body ">
                        <p >Amarin Corporation plc, a pharmaceutical company, engages in the development and commercialization of therapeutics 
                            for the treatment of cardiovascular diseases in the United States. Its lead product is VASCEPA, a prescription-only
                            omega-3 fatty acid product, used as an adjunct to diet for reducing triglyceride levels in adult patients with severe 
                            hypertriglyceridemia. The company sells its products principally to wholesalers and specialty pharmacy providers. It 
                            has a collaboration with Mochida Pharmaceutical Co., Ltd. to develop and commercialize drug products and indications 
                            based on the active pharmaceutical ingredient in Vascepa, the omega-3 acid, and eicosapentaenoic acid. The company was
                            formerly known as Ethical Holdings plc and changed its name to Amarin Corporation plc in 1999. Amarin Corporation plc 
                            was incorporated in 1989 and is headquartered in Dublin, Ireland.</p>

                    </div>
                </div>
            </div>



        </div>
        </div>
        </div>