@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<div class="row">
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-header">Charts</div>
                <div class="card-body ">
                    <canvas id="pieChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Charts</div>
                <div class="card-body">
                    <canvas id="lineChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>*@


@*<div class="main-div mt-5 pt-4 ">



    <div class="row">
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-header">Charts</div>
                <div class="card-body ">
                    <canvas id="polarChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Charts</div>
                <div class="card-body">
                    <canvas id="polarChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Data Tables
                    </div>
                    <div class="table-responsive">

                    </div>
                </div>
            </div>
        </div>
    </div>*@