
@{
    Layout = "~/Views/Shared/_AdminDetailsLayout.cshtml";
}


<body>
<div class="row">
    <div class="dashboard-div col-md-12 fw-bold fs-3 text-light">Summary</div>
            <div class="col-md-6">
                <div class="card bg-dark text-light">
                    <div class="card-header">Quarter Sales</div>
                    <div class="card-body">
                        <canvas class="chart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-dark text-light">
                    <div class="card-header">Price Change</div>
                    <div class="card-body">
                        <canvas id="myChart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
    
            <div class="col-md-6">
                <div class="card bg-dark text-light">
                    <div class="card-header">Quarter Sales</div>
                    <div class="card-body">
                        <canvas class="barChart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-dark text-light">
                    <div class="card-header">Price Change</div>
                    <div class="card-body">
                        <canvas id="polarChart2" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>

</body>

<script>

 

</script>