@model EntityLayer.Concrete.Customer

@{
    ViewData["Title"] = "Sign Up";
}


<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }
    .img{
        max-width:991.98px;
        margin-right:0;
    }
  </style>

  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Sign up now</h2>
            <form asp-controller="Customer" asp-action="SignUp" id="CreateUserForm">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" placeholder="First name" name="CustomerFirstName" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example2"placeholder="Last name" name="CustomerLastName"class="form-control" />
                  </div>
                </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" placeholder="Email address" name="CustomerEmail" class="form-control" />
              </div>
              <!-- Phone input -->
              <div class="form-outline mb-4">
                <input type="text" id="form3Example3" placeholder="Phone number" name="CustomerPhone" class="form-control" />
              </div>
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="form3Example4" placeholder="Password" name="CustomerPassword" class="form-control" />
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4 btnSumbit">
                Sign up
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 img">
        <img src="~/SignInImage.jpg" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->

